{% extends "layout_with_sidebar.html" %}
{% block content %}

    {% if account_info.payment_tier == 1 %}

            {% for groupname, group in account_info.sensor_data.items() %}

            <div> <h3> GROUP: {{ groupname }} </h3>

                {% for sensorID, sensor in group.items() %}

                    <article class="media content-section">

                      <div class="media-body">

                      <h3>Sensor: {{ sensor.name }}</h3>

                      <canvas id='{{sensorID}}'></canvas>

                        <script>

                            var myChart{{sensorID}} = document.getElementById('{{sensorID}}').getContext('2d');

                            // Global Options
                            Chart.defaults.global.defaultFontFamily = 'Lato';
                            Chart.defaults.global.defaultFontSize = 18;
                            Chart.defaults.global.defaultFontColor = '#777';

                            var massPopChart = new Chart(myChart{{sensorID}}, {
                              type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                              data:{
                                labels: {{ sensor.x_vals }},
                                datasets:[{
                                  label:'Water Level',
                                  data:{{ sensor.y_vals }},
                                  backgroundColor:'blue',
                                  borderWidth:1,
                                  borderColor:'#777',
                                  hoverBorderWidth:3,
                                  hoverBorderColor:'#000'
                                }]
                              },
                              options:{
                                title:{
                                  display:true,
                                  text:'{{ sensor.name }}',
                                  fontSize:25
                                },
                                legend:{
                                  display:true,
                                  position:'right',
                                  labels:{
                                    fontColor:'#000'
                                  }
                                },
                                layout:{
                                  padding:{
                                    left:0,
                                    right:0,
                                    bottom:0,
                                    top:0
                                  }
                                },
                                tooltips:{
                                  enabled:true
                                }
                              }
                            });
                          </script>

                      <h3>Battery Level: {{ sensor.bat_level }} %</h3>

                      </div>
                    </article>

                {% endfor %}

                </div>
            {% endfor %}

{% else %}

        {% for sensor in account_info.sensor_data %}

            <article class="media content-section">

              <div class="media-body">
                  <h3> <b>{{ sensor.name }}</b><br><br> Level: {{ sensor.y_vals[-1] }}</h3>

               <h3>Battery Level: {{ sensor.bat_level }} %</h3>

              </div>

            </article>

        {% endfor %}

    {% endif %}

{% endblock content %}
