{% extends "layouts/base.html" %}

{% block title %}Home{% endblock %} 

{% block content %}

<h1>Welcome User</h1>
{% for user in info %}
    <h1>Welcome {{ current_user.name }}</h1>
{% endfor %}
<div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card card-tasks">
        <div class="card-header ">
          <h6 class="title d-inline">What've you missed...</h6>
          <p class="card-category d-inline">today</p>
          <div class="dropdown">
            
          </div>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  
                  <td>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        </label>
                    </div>
                  </td>

                  <td>
                      <p class="text-muted">eTape Liquid Sensor battery is at 20%</p>
                  </td>
                </tr>
                
                
               
               
              
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title"> Orders</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    Product
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Estimated Delivery
                  </th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    eTape Liquid Sensor
                  </td>
                  <td>
                    In Transit
                  </td>
                  <td>
                    4/11/2021
                  </td>
                </tr>
                <tr>

                </tr>
                <tr>
                  
                </tr>
                <tr>
                 
                </tr>
                <tr>
                  
                </tr>
                <tr>
                  
                </tr>
                <tr>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  


{% endblock content %}

