<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    
  </head>
  <body>
      <div class="row">
        <div class="col-md-8">
          <div class="card">

            <form role="form" method="post" action="">
            
              <div class="card-header">
                <h5 class="title">Login</h5>

                <h6 class="card-category">
                    Add your credentials
                </h6>
              </div>

              <div class="card-body">

                  <div class="row">

                    <div class="col-md-3 px-md-1">
                      <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" id="username_login" name="username" required="" type="text" value="">
                      </div>
                    </div>

                  </div>
                  <div class="row">

                    <div class="col-md-3 px-md-1">
                      <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" id="pwd_login" name="password" required="" type="password" value="">
                      </div>
                    </div>

                  </div>
                  
              </div>
              <div class="card-footer">
                <button type="submit" name="login" class="btn btn-fill btn-primary">Login</button>
                &nbsp; &nbsp;
                Don't have an account? <a href="/register.html" class="text-primary">Create</a>
              </div>

            </form>

          </div>
        </div>
    </div>
  </body>
</html>

 -->

{% extends "layouts/base-for-login.html" %}
{% block content %}
    <div class="login-border">
      
        <form method="POST" action="" class="form-for-login">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
            <small class="text-muted ml-2">
                <a href="{{ url_for('reset_request')}}" class="forgot-password">Forgot Password?</a>
            </small>
        </form>
      
    </div>
    <div class="need-account">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
{% endblock content %}

