<style>
table, th, td {
  border: 1px solid black;
  padding: 5px;
}
</style>
{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
			<legend class="border-bottom mb-4">Settings</legend>
                <table>
                        <tr>
                        <th>Sensor ID</th>
                        <th>Trigger Level</th>
                        <th>How do you want the alert?</th>
			<th>Del</th>
                        </tr>
			<?php 
			$rows = 4;
			while($rows > 0){ 
			echo "<tr><td>[SensorName]</td><td>[Trigger Level]</td><td>[TextOrEmail]</td><td>[someLogicThatDeletes TriggerLevelFromDatabase]</td>"; 
			$rows--; 
			} 
			?>
                        <tr>
                        <td>Sensor 1</td>
                        <td>15%</td>
                        <td>Text</td>
			<th><a href="#">X</a></th>
                        </tr>
                        <tr>
                        <td>Sensor 2</td>
                        <td>50%</td>
                        <td>Email</td>
			<th><a href="#">X</a></th>
                        </tr>
                        <tr>
                        <td>Sensor 3</td>
                        <td>90%</td>
                        <td>Text</td>
			<th><a href="#">X</a></th>
                        </tr>
                        <tr>
                        <td>Sensor 1</td>
                        <td>45%</td>
                        <td>Email</td>
			<th><a href="#">X</a></th>
                        </tr>
                </div>
                </div>
                </table>
		<legend class="border-bottom mb-4">add a new trigger</legend>
		<div class="content-section">
		<div class="row">
			<div class="col-auto">
				<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
			        <option selected>Sensor ID</option>
				<option value="1">Sensor 1</option>
				<option value="2">Sensor 2</option>
				<option value="3">Sensor 3</option>
				</select>
				<div class="row>
				</div>
				<div class="row">
					<div class="col-auto">
                                        	{{ form.email(class="form-control form-control-sm", placeholder="Level") }}
                                        </div>
                                        <div class="col-auto">
                                        	<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                        	<option selected>Text</option>
                                        	<option value="1">Email</option>
						</select>
                                        </div>
				</div>
			</div>
			<div class="col">
				{{ form.submit(class="btn btn-primary btn-sm") }}
			</div>
		</div>


			<!-- <div class="row">
					<div class="col-auto">
						<div class="row>
							<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
							<option selected>Sensor ID</option>
							<option value="1">Sensor 1</option>
							<option value="2">Sensor 2</option>
							<option value="3">Sensor 3</option>
							</select>
						</div>
						<div class="row">
							<div class="col-auto">
							{{ form.email(class="form-control form-control-sm", placeholder="Level") }}
							</div>
							<div class="col-auto">
                                                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                        <option selected>Text</option>
                                                        <option value="1">Email</option>
                                                        </div>
						</div>
					</div>
					<div class="col-auto">
                                                {{ form.submit(class="btn btn-primary btn-sm") }}
                                        </div>
			</div> -->
		</div>
	    </fieldset>
        </form>
    </div>
{% endblock content %}
