<style>
table, th, td {
  border: 1px solid black;
  padding: 5px;
}
</style>
{% extends "layout_with_sidebar.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
	    {{ form.csrf_token }}
            <fieldset class="form-group">
			<legend class="border-bottom mb-4">Settings</legend>
                <table>
                        <tr>
                        <th>Sensor ID</th>
                        <th>Trigger Level</th>
                        <th>How do you want the alert?</th>
			<th>Del</th>
                        </tr>
			<div id="demo"></div>
			<script>
			var listOfDict = {{ account_info }};
			var x ="", i;
			var data1;
			var IPAdress;
			var table = document.getElementById("triggers");
			var row = table.insertRow(1);
			var SensorID;
			var TriggerLevel;
			var Howdoyouwantthealert;
			var Del;
			var tableData;
			for (i = 0; i < listOfDict.length; i++) {

				row = table.insertRow(i + 1);
				data1 = listOfDict[i].indexOf('sensorID');
				var endingIndex = listOfDict[i].indexOf('&', 27);
				x =  "{{ sensorID }}";
				IPAdress = listOfDict[i].substring(26, endingIndex);
				SensorID = row.insertCell(0);
				TriggerLevel = row.insertCell(1);	
				Howdoyouwantthealert = row.insertCell(2);	
				Del = row.insertCell(3);
				SensorID.innerHTML = IPAdress;
				TriggerLevel.innerHTML = "15%";
				Howdoyouwantthealert.innerHTML = "Text";
				Del.innerHTML = "X";
				}
			}
			  </script>
                </div>
                </div>
                </table>
		<legend class="border-bottom mb-4">add a new trigger</legend>
		<div class="content-section">
		<div class="row">
			<div class="col-auto">
				{{ form.sensorID }}
				<div class="row>
				</div>
				<div class="row">
					<div class="col-auto">
                                        	{{ form.level(placeholder="Level") }}
                                        </div>
                                        <div class="col-auto">
						{{ form.textOrEmail(choices=[('s','s'), ('a','a')]) }}
                                        </div>
				</div>
			</div>
			<div class="col">
				{{ form.submit(class="btn btn-primary btn-sm") }}
			</div>
		</div>
		</div>
		<legend class="border-bottom mb-4">Change a sensor name</legend>
		<div class="content-section">
		<div class="row">
			<div class="col">
				{{form.sensorID }}
			</div>
			<div class="col">
                                {{form.newSensorName }}
                        </div>
			<div class="col">
                                {{form.submit }}
                        </div>
		</div>
		</div>
		<legend class="border-bottom mb-4">Change sensor group</legend>
		<div class="content-section">
		<div class="row">
                        <div class="col-4">
                                {{ form.sensorID }}
                        </div>
                        <div class="col-4">
                                <div class="row-my-5">
                                        {{ form.sensorGroup }}
                                </div>
                                <div class="row-my-5">
                                        {{ form.newSensorGroup }}
                                </div>
                        </div>
                        <div class="col-2">
                                {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                </div>

		</div>
	    </fieldset>
        </form>
    </div>
{% endblock content %}
